@import "variables";
@import "mixins";

.hero-content {
    position: absolute;
    top: 365px;
    padding-left: 35px;
    color: $color-font-secondary;

    @include phone {
        top: 120px;
        padding: 0 10px; 
    }
}

.hero-large-text {
    @include h1;
    @include phone {
        margin-bottom: 15px;
    }
}

.hero-mid-text {
    @include h4;
}

.hero-blurb-text {
    @include h5;
    max-width: 480px;
    margin: 30px 0;
}
  
.hero-headline {
    margin-bottom: 20px;
} 