@import "mixins";

.callouts-heading-row {
    text-align: center;
    h2 {
        margin-top: 50px;
    }
}

.callouts-inner {
    @include center-container;
    padding: 0 25px;
}

.callouts-row {
    width: 100%;
    display: flex;
    justify-content: center;

    @include phone {
        flex-direction: column;
        align-items: center;
    }

    @include tablet {
        flex-wrap: wrap; // two rows of two callouts
    }
}

.callouts-wrap {
    height: 390px;
    width: 100%;
}

.callout {
    flex-grow: 0;
    width: 260px;

    @include tablet {
        width: 45%;
    }

    @include desktop {
        &:last-child {
            width: 280px;
        }
    }
}