.hero-wrap {
    width: 100%;
    height: 850px;
    background-image: url(/assets/images/photo-couch_850.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}