@import "variables";
@import "utils";


@font-face {
    font-family: Lato;
    src: url(assets/fonts/Lato-Regular.ttf) format("truetype");
  }

/* Usually, I would use normalize.css or whatever hot reset I've read about recently,
 * but they seem like overkill for this project.
 */
* {
    // it's rare that I need any other box-sizing option.
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-body-background;
  color: $color-font-primary;
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}