@import "variables";
@import "utils";
@import "buttons";


@font-face {
  font-family: Lato;
  src: url(assets/fonts/Lato-Regular.ttf) format("truetype");
        font-weight: 400;
        font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(assets/fonts/Lato-Light.ttf) format("truetype");
         font-weight: 300;
         font-style: normal;
}
/* Usually, I would use normalize.css or whatever hot reset I've read about recently,
 * but they seem like overkill for this project.
 */
* {
    // it's rare that I need any other box-sizing option.
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-body-background;
  color: $color-font-primary;
  font-family: $body-font;
  font-size: $font-size-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 400;
}

// In a more robust project, I would include margins and line height.
h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}
