@import "mixins";
@import "variables";

.btn-primary {
    @include button;
    background-color: $color-brand-primary;
    &:hover {
        background-color: lighten($color-brand-primary, 20%);
    }
    &:active {
        background-color: darken($color-brand-primary, 20%);
    }
}