// Colors - extracted using the eyedropper tool in Photoshop.
$teal: #50e3c2;
$gray: #2f3237;
$dark-gray: #222222;
$off-white: #f2f1ef;
$white: #fff;

$color-brand-primary: $teal;
$color-body-background: $off-white;
$color-header-background: $dark-gray;

$color-font-primary: $gray;
$color-font-secondary: $white;

// Fonts
/**
  * This may look a little verbose for one font, but again, I'm pretending this
  * is a real customer engagement. If the customer decides they want a different
  * font for body text than headings, this will make it easier to implement.
 */

 // I'm including system fonts just incase.
$fonts-sans-serif: Lato, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$body-font: $fonts-sans-serif;
$heading-font: $fonts-sans-serif;
$font-weight-regular: 400;
$font-weight-light: 300;


$font-size-base: 1em;     //16px
$font-size-h1: 3.4375em;  //55px
$font-size-h2: 1.9375em;   //31px
$font-size-h3: 1.6875em;  //27px
$font-size-h4: 1.5em;     //24px
$font-size-h5: 1.25em;    //20px
$font-size-h6: 1.125em;   //18px   

$line-height-base: 1.375em; //22px;
$line-height-h1: 1.1818181818181819em; //65px
$line-height-h5: 1.35em; // 27px;

// Breakpoints
$tablet-width: 700px;
$desktop-width: 1024px;


//Resolution Query
$high-res: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';