// Colors - extracted using the eyedropper tool in Photoshop.
$teal: #50e3c2;
$gray: #2f3237;
$dark-gray: #222222;
$off-white: #f2f1ef;
$white: #fff;

$brand-primary: $teal;
$body-background: $off-white;
$header-background: $dark-gray;

$font-color-primary: $gray;
$font-color-secondary: $white;
  