@import "variables";

.callout-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 8px;
    text-align: center;
}

.callout-step-number {
    margin-bottom: 25px;
    font-size: 3.75em;
    line-height: 1.5em;
    border-bottom: 5px solid $color-brand-primary;
}

.callout-title {
    font-weight: bold;
}

.callout-content { 
    width: 235px;
}